#home {
  width: 100%;
  height: 80vh;
}

.home {
  max-width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
}

.home-img img {
  border-radius: 16px;
}

.home-text {
  width: 500px;
  padding-top: 40px;
}

.home-text h2 {
  font-size: 32px;
}
.home-text h1 {
  font-size: 68px;
  margin: 20px 0;
}

.home-text span {
  font-size: 32px;
}

.home-text i {
  font-size: 26px;
  margin-right: 8px;
}

.slide {
  width: 500px;
  height: 60px;
  position: relative;
  margin-top: 150px;
}

.slide i {
  font-size: 50px;
  margin-right: 100px;
}

.slide::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100%;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), #1e1e1e);
  z-index: 10;
}
.slide::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #1e1e1e);
  z-index: 10;
}
@media screen and (max-width: 768px) {
  #home {
    height: auto;
  }
  .home {
    flex-direction: column-reverse;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    padding: 50px;
  }
  .home-img img {
    width: 350px;
  }
  .home-text {
    max-width: 350px;
    text-align: center;
  }
  .home-text h2 {
    font-size: 24px;
  }
  .home-text h1 {
    font-size: 46px;
  }
  .home-text span {
    font-size: 24px;
  }
  .home-text .fa-chevron-right {
    font-size: 20px;
  }
  .slide {
    margin-top: 50px;
  }
  .slide::after,
  .slide::before {
    display: none;
  }
}

#about {
  padding: 80px;
  width: 100%;
  height: 100vh;
}
.about-content {
  max-width: 70%;
  margin: 0 auto;
}

.about-title {
  font-size: 48px;
  text-align: center;
  margin-bottom: 20px;
}
.about-subtitle {
  font-size: 24px;
  letter-spacing: 2px;
  line-height: 120%;
  color: #bebebe;
}

.card-about {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.about-item {
  margin-top: 100px;
  width: 300px;
  height: 350px;
  border: 2px solid #fcff51;
  border-radius: 16px;
  position: relative;
}

.about-text {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.about-text h2 {
  margin-top: 40px;
  font-size: 32px;
}
.about-text i {
  font-size: 30px;
  margin-top: 8px;
  margin-bottom: 65px;
}

.about-text p {
  font-size: 20px;
  margin: 0 10px;
}
@media screen and (max-width: 768px) {
  #about {
    height: auto;
    padding: 14px;
    margin: 0 auto;
  }
  .about-content {
    max-width: 500px;
    margin-top: 50px;
  }
  .about-title {
    font-size: 32px;
  }
  .about-subtitle {
    font-size: 18px;
  }

  .card-about {
    flex-direction: column;
  }
  .about-item {
    margin-top: 50px;
  }
  .about-text i {
    font-size: 24px;
    margin-top: 8px;
    margin-bottom: 50px;
  }
}

#project {
  width: 100%;
  height: calc(90vh - 80px);
}
.project-title {
  font-size: 48px;
  text-align: center;
  margin-bottom: 20px;
}
.project-subtitle {
  font-size: 24px;
  text-align: center;
  letter-spacing: 2px;
  line-height: 120%;
  color: #bebebe;
}

.project-card {
  max-width: 70%;
  height: 600px;
  margin: 0 auto;
}
.project-card::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100%;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), #1e1e1e);
  z-index: 10;
}
.project-card::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #1e1e1e);
  z-index: 10;
}

.project-item {
  text-align: center;
  margin-right: 80px;
}
.project-item img {
  width: 700px;
}

.project-card-title {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.link-cta h2 {
  font-size: 42px;
  color: #fff;
}
.project-item span {
  font-size: 12px;
  background-color: #fdff7d;
  color: black;
  padding: 3px;
  border-radius: 16px;
}

.link-btn {
  background-color: transparent;
  border: none;
}
.project-card-title .link-cta {
  background-color: transparent;
  width: auto;
  margin-left: 20px;
}

.button a {
  color: #000;
  margin-right: 30px;
  border-radius: 16px;
  padding: 10px;
  background-color: #fcff51;
}

@media screen and (max-width: 768px) {
  #project {
    height: auto;
    width: 100%;
  }
  .project-title {
    font-size: 32px;
    margin-top: 50px;
  }
  .project-subtitle {
    font-size: 18px;
  }
  .project-card {
    max-width: 500px;
  }
  .project-card::after,
  .project-card::before {
    display: none;
  }
  .project-item img {
    width: 400px;
  }
  .project-card-title {
    font-size: 32px;
  }
  .link-btn h2 {
    font-size: 32px;
  }
  .button {
    font-size: 12px;
  }
}
